
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.5rem;
}.item-06-gxL {
  box-sizing: border-box;
  padding-right: 4.55rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.item-06-gxL .auto-group-jjcx-Ruv {
  margin-right: 4.65rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.1rem;
  height: 49.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  flex-shrink: 0;
}
.item-06-gxL .auto-group-jjcx-Ruv .create-text-styles-kSQ {
  margin: 0rem 16.9rem 0.8rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.034rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-06-gxL .auto-group-jjcx-Ruv .auto-group-isja-S4L {
  margin: 0rem 1.1rem 2.4rem 0rem;
  width: 32.6rem;
  height: 4.8rem;
  position: relative;
  flex-shrink: 0;
}
.item-06-gxL .auto-group-jjcx-Ruv .auto-group-isja-S4L .icon-jp8 {
  width: 1.1rem;
  height: 1.1rem;
  position: absolute;
  left: 25.65rem;
  top: 1.85rem;
  object-fit: contain;
  vertical-align: top;
}
.item-06-gxL .auto-group-jjcx-Ruv .auto-group-isja-S4L .to-create-new-text-styles-first-select-a-text-layer-and-format-it-with-the-type-you-want-as-a-style-then-click-on-in-the-text-styles-menu-XV6 {
  width: 32.6rem;
  height: 4.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.item-06-gxL .auto-group-jjcx-Ruv .item-06-1-ZRn {
  width: 33.7rem;
  height: 31.6rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.item-06-gxL .auto-group-tzm6-gWQ {
  margin-bottom: 20rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-06-gxL .auto-group-tzm6-gWQ .edit-us-to-be-your-teams-text-styles-and-create-some-more-styles-ob2 {
  margin-bottom: 1.6rem;
  max-width: 19.2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: #007be5;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-06-gxL .auto-group-tzm6-gWQ .arrow-11-UhA {
  margin-right: 0.1rem;
  width: 0rem;
  height: 4.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
