
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 70.5rem;
}.item-02-zpt {
  width: 100%;
  height: 52.2rem;
  position: relative;
}
.item-02-zpt .background-8AQ {
  width: 68.5rem;
  height: 49.2rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  background-color: #ffffff;
}
.item-02-zpt .rectangle-19-fAL {
  width: 39.5rem;
  height: 49.2rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #b0b8db;
}
.item-02-zpt .vector-6-ywi {
  width: 68.3rem;
  height: 49rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .vector-9-Wwe {
  width: 44.9rem;
  height: 25.9rem;
  position: absolute;
  left: 0;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .vector-7-s1W {
  width: 57.3rem;
  height: 49.2rem;
  position: absolute;
  left: 0.5rem;
  top: 1.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .vector-10-z68 {
  width: 39.2rem;
  height: 49.1431rem;
  position: absolute;
  left: 0.5rem;
  top: 1.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .practice-your-programming-skills-inp {
  width: 24.9rem;
  height: 1.6rem;
  position: absolute;
  left: 0.5rem;
  top: 7.55rem;
  display: flex;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8;
  color: #322b5b;
  font-family: Fanwood Text, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .pngtreefashionable-colourful-fluid-gradual-geometric3864669-1-9dE {
  width: 58.9rem;
  height: 52.2rem;
  position: absolute;
  left: 11.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.item-02-zpt .group-6-ScL {
  width: 20.4rem;
  height: 7.4rem;
  position: absolute;
  left: 31.5rem;
  top: 25.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item-02-zpt .group-6-ScL .auto-group-vsdn-AoE {
  width: 100%;
  height: 3rem;
  position: relative;
  border-right: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-02-zpt .group-6-ScL .auto-group-vsdn-AoE .confirm-password-7yN {
  width: 11.9rem;
  height: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1428571429;
  color: #322b5b;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .group-6-ScL .auto-group-vsdn-AoE .line-4-DmW {
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .group-6-ScL .auto-group-vsdn-AoE .line-5-kWY {
  width: 20.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .group-6-ScL .line-3-s5N {
  margin: 0rem 0.1rem 1.2rem 0.1rem;
  width: calc(100% - 0.2rem);
  height: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
  flex-shrink: 0;
}
.item-02-zpt .group-6-ScL .group-4-kQ4 {
  width: 100%;
  height: 3.1rem;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
  flex-shrink: 0;
}
.item-02-zpt .group-6-ScL .group-4-kQ4 .auto-group-f8jq-Hun {
  width: 100%;
  height: 3rem;
  position: relative;
  border-right: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
}
.item-02-zpt .group-6-ScL .group-4-kQ4 .auto-group-f8jq-Hun .e-mail-adress-qRW {
  width: 8.9rem;
  height: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1428571429;
  color: #322b5b;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .group-6-ScL .group-4-kQ4 .auto-group-f8jq-Hun .line-4-Xp8 {
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .group-6-ScL .group-4-kQ4 .auto-group-f8jq-Hun .line-5-UDa {
  width: 20.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .group-5-AMJ {
  width: 20.4rem;
  height: 3.1rem;
  position: absolute;
  left: 31.5rem;
  top: 21.5rem;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
}
.item-02-zpt .group-5-AMJ .auto-group-raaq-71e {
  width: 100%;
  height: 3rem;
  position: relative;
  border-right: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
}
.item-02-zpt .group-5-AMJ .auto-group-raaq-71e .password-4Bn {
  width: 6.3rem;
  height: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1428571429;
  color: #322b5b;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .group-5-AMJ .auto-group-raaq-71e .line-4-mM6 {
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .group-5-AMJ .auto-group-raaq-71e .line-5-suv {
  width: 20.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .create-account-N5z {
  width: 11.7rem;
  height: 1.6rem;
  position: absolute;
  left: 35.7rem;
  top: 13.65rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 400;
  line-height: 0.8;
  color: #322b5b;
  font-family: Fanwood Text, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .codewiz-Ett {
  width: 14.7rem;
  height: 1.6rem;
  position: absolute;
  left: 3.4rem;
  top: 4.3rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.4;
  color: #322b5b;
  font-family: Fanwood Text, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .group-4-8zG {
  width: 20.4rem;
  height: 3.1rem;
  position: absolute;
  left: 31.4rem;
  top: 17.3rem;
  border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
}
.item-02-zpt .group-4-8zG .auto-group-zevr-5Pi {
  width: 100%;
  height: 3rem;
  position: relative;
  border-right: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
  box-sizing: border-box;
}
.item-02-zpt .group-4-8zG .auto-group-zevr-5Pi .username-E1i {
  width: 6.7rem;
  height: 1.6rem;
  position: absolute;
  left: 1rem;
  top: 0.7rem;
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.1428571429;
  color: #322b5b;
  font-family: Exo, 'Source Sans Pro';
  white-space: nowrap;
}
.item-02-zpt .group-4-8zG .auto-group-zevr-5Pi .line-4-XWc {
  width: 0.1rem;
  height: 3rem;
  position: absolute;
  left: 0.1rem;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .group-4-8zG .auto-group-zevr-5Pi .line-5-Gj6 {
  width: 20.4rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 0.1rem;
  background-color: rgba(0, 0, 0, 0.3000000119);
}
.item-02-zpt .ellipse-27-Xuv {
  width: 3.3rem;
  height: 3.1rem;
  position: absolute;
  left: 9.9rem;
  top: 42.1rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .ellipse-27-sD6 {
  width: 2.4rem;
  height: 2.1rem;
  position: absolute;
  left: 2.2rem;
  top: 34.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .ellipse-27-14Q {
  width: 2.7rem;
  height: 2.3rem;
  position: absolute;
  left: 1.9rem;
  top: 10.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .ellipse-27-wik {
  width: 2.7rem;
  height: 2.6rem;
  position: absolute;
  left: 19.8rem;
  top: 36rem;
  object-fit: contain;
  vertical-align: top;
}
.item-02-zpt .frame-8-VVN {
  width: 6.5rem;
  height: 3.6rem;
  position: absolute;
  left: 38.3rem;
  top: 34.1rem;
  overflow: hidden;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Fanwood Text, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #cf6df5;
  border-radius: 1.2rem;
}
