
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.5rem;
}.item-07-h7z {
  box-sizing: border-box;
  padding-right: 9.35rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-07-h7z .auto-group-nxx8-ENp {
  margin-right: 8.35rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.1rem;
  height: 49.2rem;
  background-color: #fafafa;
  flex-shrink: 0;
}
.item-07-h7z .auto-group-nxx8-ENp .use-text-styles-kc4 {
  margin-bottom: 0.8rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.034rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi {
  margin-bottom: 2.4rem;
  width: 32.4rem;
  height: 3.2rem;
  position: relative;
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi .icon-CU4 {
  width: 0.9rem;
  height: 0.9rem;
  position: absolute;
  left: 16.45rem;
  top: 0.35rem;
  object-fit: contain;
  vertical-align: top;
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa {
  width: 32.4rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-0 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-1 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-2 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.item-07-h7z .auto-group-nxx8-ENp .auto-group-v4ha-Foi .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-3 {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
}
.item-07-h7z .auto-group-nxx8-ENp .item-07-xQc {
  width: 33.7rem;
  height: 33.2rem;
  object-fit: cover;
  vertical-align: top;
}
.item-07-h7z .auto-group-3bsc-Hxg {
  margin-top: 10.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-07-h7z .auto-group-3bsc-Hxg .give-me-a-text-style-EN8 {
  margin-bottom: 1.6rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: #007be5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-07-h7z .auto-group-3bsc-Hxg .arrow-vkk {
  width: 0;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
