
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.5rem;
}.item-04-8Uc {
  box-sizing: border-box;
  padding-right: 1.9rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;
}
.item-04-8Uc .auto-group-1pll-2pt {
  margin-right: 3.3rem;
  box-sizing: border-box;
  padding: 2.8rem 1.2rem 0.788rem 2.3rem;
  width: 39.5rem;
  height: 49.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #b0b8db;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-1pll-2pt .codewiz-Uwn {
  margin: 0rem 21.3rem 4.8rem 0rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.4;
  color: #322b5b;
  font-family: Fanwood Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-1pll-2pt .insert-your-code-here-aV2 {
  margin: 0rem 3.6rem 1.7rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.034rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-1pll-2pt .auto-group-c6oe-syv {
  margin: 0rem 2.2rem 0.6rem 0rem;
  width: 30.8rem;
  height: 29.6rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-1pll-2pt .frame-9-oMn {
  margin-left: 27.9rem;
  box-sizing: border-box;
  padding: 1rem 0.794rem 1rem 0.794rem;
  width: calc(100% - 27.9rem);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #6ec6ca;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-1pll-2pt .frame-9-oMn .polygon-1-zhA {
  margin-right: 1rem;
  width: 1.913rem;
  height: 2.1117rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-1pll-2pt .frame-9-oMn .run-tnY {
  margin-bottom: 0rem;
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1;
  color: #ffffff;
  font-family: Fanwood Text, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-uceq-tRA {
  margin-top: 6.75rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-uceq-tRA .problem-to-solve--2nG {
  margin-bottom: 1.65rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.034rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-04-8Uc .auto-group-uceq-tRA .auto-group-jwhn-Xj2 {
  margin-left: 0.4rem;
  box-sizing: border-box;
  padding: 0.4rem;
  width: 23.4rem;
  height: 17.3rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.034rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #d9d9d9;
  flex-shrink: 0;
}
