
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.5rem;
}.item-09-7FS {
  box-sizing: border-box;
  padding-right: 1.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}
.item-09-7FS .auto-group-nvc8-emA {
  margin-right: 1.8rem;
  box-sizing: border-box;
  padding: 3.2rem;
  width: 40.1rem;
  height: 49.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  flex-shrink: 0;
}
.item-09-7FS .auto-group-nvc8-emA .use-components-mat {
  margin: 0rem 17.6rem 0.8rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.034rem;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item-09-7FS .auto-group-nvc8-emA .drag-and-drop-components-onto-your-canvas-from-the-assets-panel-if-youre-on-an-education-professional-or-organization-team-you-can-publish-them-for-team-members-to-use-across-their-own-files-TTi {
  margin: 0rem 1.2rem 2.4rem 0rem;
  max-width: 32.5rem;
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: rgba(0, 0, 0, 0.8000000119);
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-09-7FS .auto-group-nvc8-emA .item-09-rVr {
  width: 33.7rem;
  height: 30rem;
  position: relative;
  background-size: 100% 105.333%;
  background-position: 0 0;
  background-image: url('../assets/.png');
  flex-shrink: 0;
}
.item-09-7FS .auto-group-vazg-w1W {
  margin-bottom: 11rem;
  width: 25.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item-09-7FS .auto-group-vazg-w1W .drag-the-correct-cursor-component-over-these-buttons-to-show-default-and-hover-states-fiC {
  margin-bottom: 1.6rem;
  max-width: 25.2rem;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 1.4545454545;
  letter-spacing: 0.0055rem;
  color: #007be5;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item-09-7FS .auto-group-vazg-w1W .arrow-17-M5E {
  margin-bottom: 1.8rem;
  width: 0;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item-09-7FS .auto-group-vazg-w1W .auto-group-gjqu-62p {
  margin: 0rem 4rem 0rem 3.9rem;
  width: calc(100% - 7.9rem);
  height: 3.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item-09-7FS .auto-group-vazg-w1W .auto-group-gjqu-62p .auto-group-drb6-c1A {
  margin-right: 4.4rem;
  width: 6.8rem;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #56ccf2;
  border-radius: 100rem;
  flex-shrink: 0;
}
.item-09-7FS .auto-group-vazg-w1W .auto-group-gjqu-62p .auto-group-ld1e-sxg {
  width: 6.1rem;
  height: 100%;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.3333333333;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #359dd9;
  border-radius: 100rem;
  flex-shrink: 0;
}
