<main class="start-exploring">
    <a href="/acasa"> <span class="txt">CodeWiz</span></a>
    <a href="/login" > <button class="log_in_button" >Log in </button></a>
    <a href="/create-account" > <button class="create_account_button" >Create Account </button></a>
    <img class="cercMicVerde" src="/assets/Imagini/untitled1.png" >
    <img class="cercVerdeMare" src="/assets/Imagini/untitled2.png">
    <img class="cercMediuMov" src="/assets/Imagini/untitled3.png">
    <img class="cercMovInchis" src="/assets/Imagini/untitled5.png">
    <img class="cercMovInchiss" src="/assets/Imagini/untitled5.png">
    <img class="cercMareMov" src="/assets/Imagini/untitled5.png">
    <img class="cercMovInchis2" src="/assets/Imagini/untitled8.png">
    <img class="cercMovInchisJos" src="/assets/Imagini/untitled8.png">
    <img class="cercMediuMov2" src="/assets/Imagini/untitled3.png">
    <img src="/assets/Imagini/desk.png" class="desk">
    <div class="wrapper">
        <div class="vector5">
            <svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" viewBox="0 0 306 349" fill="none">
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:#b098e8;stop-opacity:1" />
                        <stop offset="100%" style="stop-color:#B0B8DB;stop-opacity:1" />
                    </linearGradient>
                </defs>
                <g filter="url(#filter0_d_2409_8)">
                    <path d="M302 341C183 284 239.155 18.9307 4 0H302V341Z" fill="url(#gradient)"/>
                </g>
            </svg>
        </div>
        <div class="zona-scroll">
            <div class="dreptunghi">
                <br>
                <span class="probleme">Exemplu problema 1</span><br>
                <span class = "probleme">Acesta este un exemplu pentru problema 1 de rezolvat</span>
                <a href="/create-account" > <button class="custom-button">Solve</button></a>
            </div>
            <div class="dreptunghi">
                <br>
                <span class="probleme">Exemplu problema 2</span><br>
                <span class = "probleme">Acesta este un exemplu pentru problema 2 de rezolvat</span>
                <a href="/create-account" > <button class="custom-button">Solve</button></a>
            </div>
            <div class="dreptunghi">
                <br>
                <span class="probleme">Exemplu problema 3</span><br>
                <span class = "probleme">Acesta este un exemplu pentru problema 3 de rezolvat</span>
                <a href="/create-account" > <button class="custom-button">Solve</button></a>
            </div>
            <div class = "dreptunghi"><br>
                <span class="probleme">Exemplu problema 4</span><br>
                <span class = "probleme">Acesta este un exemplu pentru problema 4 de rezolvat</span>
                <a href="/create-account" > <button class="custom-button">Solve</button></a>
            </div>
        </div>
        <div class="rectanglemov"></div>
        
        <div class="vector2">
            <svg xmlns="http://www.w3.org/2000/svg" width="1200px" height="743px" viewBox="0 0 900 493" fill="none">
                <path d="M1 0.999999C326 -14 106 367 393 492" stroke="#DAC3E0"/>
            </svg>
        </div>
    
        <div class="vector3">
            <svg xmlns="http://www.w3.org/2000/svg" width="750px" height="600px" viewBox="0 30 451 261" fill="none">
                <path d="M1 1C218.097 14.1399 23.2477 237.915 450 260" stroke="white"/>
            </svg>
        </div>

        <div class="vector4">
            <svg xmlns="http://www.w3.org/2000/svg" width="750px" height="800px" viewBox="5 17 575 494" fill="none">
                <path d="M0.999557 1C18 310 404 217 574 493" stroke="#B968C7"/>
              </svg>
        </div>
    </div>
    <footer>
        <p>© 2024 CodeWiz.</p>
    </footer>
</main>
