<!-- <div id="sect1" class="container">
    <h2>Now Load image on the display</h2>
</div> -->


<main>
    <div class="wrapper">
        <!-- [ngClass]="{'hover-effect': isHovered}" -->
        <div class="vector6">
            
            <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 1040 490" fill="none">
                <g filter="url(#filter0_d_2311_56)">
                <path d="M673 491C369.409 430.121 496.512 -64.999 -9.95332 8.40368C-13.9885 390.517 244.599 489.348 374.397 491H673Z" fill="#6EC6CA"/>
                <path d="M673 491C369.409 430.121 496.512 -64.999 -9.95332 8.40368C-13.9885 390.517 244.599 489.348 374.397 491H673Z" stroke="#6EC6CA"/>
                </g>
                <defs>
                <filter id="filter0_d_2311_56" x="-14.5" y="0.500063" width="691.598" height="499" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2311_56"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2311_56" result="shape"/>
                </filter>
                </defs>
            </svg> 
            
        </div>
        <div class="rectangle"></div>

        <div class="cerc_mare">
            <svg xmlns="http://www.w3.org/2000/svg" width="150" height="122" viewBox="0 0 150 122" fill="none">
                <g filter="url(#filter0_i_2322_320)">
                <ellipse cx="75" cy="61" rx="75" ry="61" fill="#B0B8DB"/>
                </g>
                <defs>
                <filter id="filter0_i_2322_320" x="0" y="0" width="150" height="126" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2322_320"/>
                </filter>
                </defs>
            </svg>
        </div>
        
    </div>
    <footer>
        <p>© 2024 CodeWiz.</p>
    </footer>
</main>
