<!-- <div id="sect1" class="container">
    <h2>Now Load image on the display</h2>
</div> -->


<main class="acasa">
    <!-- <div class="text-container">
        <span class="text">CodeWiz</span>
    </div> -->
    <span class="text">CodeWiz</span>
    <span class="text2">Practice your programming skills</span>
    <span class="text3">Choose your competitors</span>
    <span class="text4">and show your abilities</span>
    <img src="/assets/Imagini/img1.png" alt="Descriere imagine" class="imagine1">
    <button class="start_exploring_button">
      Start exploring
    </button>
    <button class="log_in_button">
        Log in
      </button>
    <button class="create_account_button">
        Create account
    </button>
    <img src="/assets/Imagini/img3.png" alt="Descriere imagine" class="imagine3">
    <img src="/assets/Imagini/img4.png" alt="Descriere imagine" class="imagine4">
    <img src="/assets/Imagini/img5.png" alt="Descriere imagine" class="imagine5">
    <div class="wrapper">
        <!-- <div class="text-container">
            <span class="text">CodeWiz</span>
        </div> -->
        <!-- [ngClass]="{'hover-effect': isHovered}" -->
        <div class="vector6">
            <!-- <span class="text">CodeWiz</span> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="1200px" height="700px" viewBox="0 0 900 460" fill="none">
                <g filter="url(#filter0_d_2311_56)">
                <path d="M673 491C369.409 430.121 496.512 -64.999 -9.95332 8.40368C-13.9885 390.517 244.599 489.348 374.397 491H673Z" fill="#6EC6CA"/>
                <path d="M673 491C369.409 430.121 496.512 -64.999 -9.95332 8.40368C-13.9885 390.517 244.599 489.348 374.397 491H673Z" stroke="#6EC6CA"/>
                </g>
                <defs>
                <filter id="filter0_d_2311_56" x="-14.5" y="0.500063" width="691.598" height="499" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2311_56"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2311_56" result="shape"/>
                </filter>
                </defs>
            </svg> 
        </div>

        <div class="vector11">
            <svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" viewBox="0 0 306 349" fill="none">
                <g filter="url(#filter0_d_2409_8)">
                  <path d="M302 341C183 284 239.155 18.9307 4 0H302V341Z" fill="#B0B8DB"/>
                </g>
              </svg>
        </div>
        <div class="rectangle"></div>

        <div class="cerc_mare">
            <svg xmlns="http://www.w3.org/2000/svg" width="150px" height="122px" viewBox="0 0 150 122" fill="none">
                <g filter="url(#filter0_i_2322_320)">
                <ellipse cx="75" cy="61" rx="75" ry="61" fill="#B0B8DB"/>
                </g>
                <defs>
                <filter id="filter0_i_2322_320" x="0" y="0" width="150" height="126" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2322_320"/>
                </filter>
                </defs>
            </svg>
        </div>

        <div class="cerc_mic">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="29" viewBox="0 0 32 29" fill="none">
            <g filter="url(#filter0_d_2322_327)">
              <path d="M28 10.5C28 16.299 22.6274 21 16 21C9.37258 21 4 16.299 4 10.5C4 4.70101 9.37258 0 16 0C22.6274 0 28 4.70101 28 10.5Z" fill="#6EC6CA"/>
            </g>
            <defs>
              <filter id="filter0_d_2322_327" x="0" y="0" width="32" height="29" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2322_327"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2322_327" result="shape"/>
              </filter>
            </defs>
          </svg>
        </div>

        <div class="cerc_mediu">
        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="39" viewBox="0 0 41 39" fill="none">
            <g filter="url(#filter0_d_2322_325)">
              <ellipse cx="20.5" cy="15.5" rx="16.5" ry="15.5" fill="#6EC6CA"/>
            </g>
            <defs>
              <filter id="filter0_d_2322_325" x="0" y="0" width="41" height="39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2322_325"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2322_325" result="shape"/>
              </filter>
            </defs>
          </svg>
        </div>

        <div class="cerc_mediu2">
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="31" viewBox="0 0 33 31" fill="none">
                <g filter="url(#filter0_i_2322_322)">
                  <ellipse cx="16.5" cy="15.5" rx="16.5" ry="15.5" fill="#B0B8DB"/>
                </g>
                <defs>
                  <filter id="filter0_i_2322_322" x="0" y="0" width="33" height="35" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2322_322"/>
                  </filter>
                </defs>
              </svg>
        </div>

        <div class="cerc_mediu3">
            <!-- <app-circle-svg></app-circle-svg> -->
            <svg xmlns="http://www.w3.org/2000/svg" width="33" height="31" viewBox="0 0 33 31" fill="none">
                <g filter="url(#filter0_i_2322_322)">
                  <ellipse cx="16.5" cy="15.5" rx="16.5" ry="15.5" fill="#B0B8DB"/>
                </g>
                <defs>
                  <filter id="filter0_i_2322_322" x="0" y="0" width="33" height="35" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="shape" result="effect1_innerShadow_2322_322"/>
                  </filter>
                </defs>
              </svg>
        </div>

        <div class="cerc_mediu4">
            <svg xmlns="http://www.w3.org/2000/svg" width="41" height="39" viewBox="0 0 41 39" fill="none">
                <g filter="url(#filter0_d_2322_325)">
                  <ellipse cx="20.5" cy="15.5" rx="16.5" ry="15.5" fill="#6EC6CA"/>
                </g>
                <defs>
                  <filter id="filter0_d_2322_325" x="0" y="0" width="41" height="39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2322_325"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2322_325" result="shape"/>
                  </filter>
                </defs>
              </svg>
            </div>
        <div class="cerc_mediu5">
        <svg xmlns="http://www.w3.org/2000/svg" width="41" height="39" viewBox="0 0 41 39" fill="none">
            <g filter="url(#filter0_d_2325_14)">
                <ellipse cx="20.5" cy="15.5" rx="16.5" ry="15.5" fill="#703E79" fill-opacity="0.9" shape-rendering="crispEdges"/>
            </g>
            <defs>
                <filter id="filter0_d_2325_14" x="0" y="0" width="41" height="39" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                <feOffset dy="4"/>
                <feGaussianBlur stdDeviation="2"/>
                <feComposite in2="hardAlpha" operator="out"/>
                <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2325_14"/>
                <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2325_14" result="shape"/>
                </filter>
            </defs>
            </svg>
        </div>
        <div class="vector8">
        <svg xmlns="http://www.w3.org/2000/svg" width="1200px" height="743px" viewBox="0 0 900 493" fill="none">
            <path d="M1 0.999999C326 -14 106 367 393 492" stroke="#DAC3E0"/>
          </svg>
        </div>

        <div class="vector9">
        <svg xmlns="http://www.w3.org/2000/svg" width="750px" height="600px" viewBox="0 30 451 261" fill="none">
            <path d="M1 1C218.097 14.1399 23.2477 237.915 450 260" stroke="white"/>
          </svg>
        </div>
        <div class="vector7">
        <svg xmlns="http://www.w3.org/2000/svg" width="750px" height="800px" viewBox="5 17 575 494" fill="none">
            <path d="M0.999557 1C18 310 404 217 574 493" stroke="#B968C7"/>
          </svg>
        </div>
    </div>

    <footer>
        <p>© 2024 CodeWiz.</p>
    </footer>
</main>
