<main class="acasa">
    <span class="text">CodeWiz</span>
    <span class="text2">Practice your programming skills</span>
    <span class="text3">Choose your competitors</span>
    <span class="text4">and show your abilities</span>
   

    <button class="start_exploring_button">
      Start exploring
    </button>
    <a href="/login" > <button class="log_in_button" >Log in </button></a>
    <button class="create_account_button">
        Create account
    </button>

    <img src="/assets/Imagini/img1.png" alt="Descriere imagine" class="imagine1">
    <img src="/assets/Imagini/img3.png" alt="Descriere imagine" class="imagine3">
    <img src="/assets/Imagini/img4.png" alt="Descriere imagine" class="imagine4">
    <!-- <img src="/assets/Imagini/img5.png" alt="Descriere imagine" class="imagine5"> -->
    <img class="cerc_mare" src="/assets/Imagini/untitled.png" alt="Descriere imagine">
    <img class="cerc_mic" src="/assets/Imagini/untitled1.png" alt="Descriere imagine">
    <img class="cerc_mediu" src="/assets/Imagini/untitled2.png" alt="Descriere imagine">
    <img class="cerc_mediu2" src="/assets/Imagini/untitled3.png" alt="Descriere imagine">
    <img class="cerc_mediu3" src="/assets/Imagini/untitled3.png" alt="Descriere imagine">
    <img class="cerc_mediu4" src="/assets/Imagini/untitled4.png" alt="Descriere imagine">
    <img class="cerc_mediu5" src="/assets/Imagini/untitled5.png" alt="Descriere imagine">
    <img class="cerc_mediu6" src="/assets/Imagini/untitled6.png" alt="Descriere imagine">
    <img class="cerc_mediu7" src="/assets/Imagini/untitled7.png" alt="Descriere imagine">

    <div class="wrapper">
        <div class="vector6">
            <svg xmlns="http://www.w3.org/2000/svg" width="1200px" height="700px" viewBox="0 0 900 460" fill="none">
                <g filter="url(#filter0_d_2311_56)">
                <path d="M673 491C369.409 430.121 496.512 -64.999 -9.95332 8.40368C-13.9885 390.517 244.599 489.348 374.397 491H673Z" fill="#6EC6CA"/>
                <path d="M673 491C369.409 430.121 496.512 -64.999 -9.95332 8.40368C-13.9885 390.517 244.599 489.348 374.397 491H673Z" stroke="#6EC6CA"/>
                </g>
                <defs>
                <filter id="filter0_d_2311_56" x="-14.5" y="0.500063" width="691.598" height="499" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
                    <feOffset dy="4"/>
                    <feGaussianBlur stdDeviation="2"/>
                    <feComposite in2="hardAlpha" operator="out"/>
                    <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
                    <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_2311_56"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_2311_56" result="shape"/>
                </filter>
                </defs>
            </svg> 
        </div>

        <div class="vector11">
            <svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" viewBox="0 0 306 349" fill="none">
                <g filter="url(#filter0_d_2409_8)">
                  <path d="M302 341C183 284 239.155 18.9307 4 0H302V341Z" fill="#B0B8DB"/>
                </g>
              </svg>
        </div>
        <div class="rectangle"></div>

        <div class="vector8">
        <svg xmlns="http://www.w3.org/2000/svg" width="1200px" height="743px" viewBox="0 0 900 493" fill="none">
            <path d="M1 0.999999C326 -14 106 367 393 492" stroke="#DAC3E0"/>
          </svg>
        </div>

        <div class="vector9">
        <svg xmlns="http://www.w3.org/2000/svg" width="750px" height="600px" viewBox="0 30 451 261" fill="none">
            <path d="M1 1C218.097 14.1399 23.2477 237.915 450 260" stroke="white"/>
          </svg>
        </div>

        <div class="vector7">
        <svg xmlns="http://www.w3.org/2000/svg" width="750px" height="800px" viewBox="5 17 575 494" fill="none">
            <path d="M0.999557 1C18 310 404 217 574 493" stroke="#B968C7"/>
          </svg>
        </div>
    </div>

    <footer>
        <p>© 2024 CodeWiz.</p>
    </footer>
</main>
