<main class="solve" [formGroup]="myForm" (ngSubmit)="postSolution()">
    <a href="/acasa"> <span class="txt">CodeWiz</span></a>
    <span class="insert">INSERT YOUR CODE HERE</span>
    <span class="problem">PROBLEM TO SOLVE:</span>
    <span class="result">RESULT:</span>
    <img class="cercMovInchis" src="/assets/Imagini/untitled5.png">
    <img class="cercMovInchis2" src="/assets/Imagini/untitled8.png">
    <img class="cercVerdeMare" src="/assets/Imagini/untitled2.png">
    <img class="cercMicVerde" src="/assets/Imagini/untitled1.png" >
    <img class="cercVerdeMare" src="/assets/Imagini/untitled2.png">
    <img class="cercMediuMov" src="/assets/Imagini/untitled3.png">
    <img class="cercMovInchisJos" src="/assets/Imagini/untitled8.png">
    <img class="cercMediuMov2" src="/assets/Imagini/untitled3.png">
    <img class="cercMareMov2" src="/assets/Imagini/untitled5.png">
    <img class="cercVerdeMare2" src="/assets/Imagini/untitled2.png">
    <img src="/assets/Imagini/sol.png" class="img">
    <div class="dreptunghiInsert"></div>
    <textarea id="nume" name="nume" formControlName="code" rows="10"></textarea>
    <!-- <input type="text" id="nume" name="nume" formControlName="code"> -->
    <div class="rectanglemov"><button class="run"><img class="runlogo" src="/assets/Imagini/run.png">RUN</button></div>
    <button class="post" (click)="postSolution()">POST THIS SOLUTION</button>
    <div class="dreptunghi">
        <br>
        <span class="probleme">Exemplu problema 1</span><br>
        <span class = "probleme">Acesta este un exemplu pentru problema 1 de rezolvat</span>
    </div>
    <div class="dreptunghi2">
        <br>
        <span class="rulat">HELLO WORLD</span><br>
    </div>
    <div class="vector11">
        <svg xmlns="http://www.w3.org/2000/svg" width="800" height="800" viewBox="0 0 306 349" fill="none">
            <defs>
                <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
                    <stop offset="0%" style="stop-color:#b098e8;stop-opacity:1" />
                    <stop offset="100%" style="stop-color:#B0B8DB;stop-opacity:1" />
                </linearGradient>
            </defs>
            <g filter="url(#filter0_d_2409_8)">
                <path d="M302 341C183 284 239.155 18.9307 4 0H302V341Z" fill="url(#gradient)"/>
            </g>
        </svg>
    </div>
    <div class="vector2">
        <svg xmlns="http://www.w3.org/2000/svg" width="1400px" height="743px" viewBox="0 0 900 493" fill="none">
            <path d="M1 0.999999C326 -14 106 367 393 492" stroke="#DAC3E0"/>
        </svg>
    </div>

    <div class="vector3">
        <svg xmlns="http://www.w3.org/2000/svg" width="1000px" height="600px" viewBox="0 30 451 261" fill="none">
            <path d="M1 1C218.097 14.1399 23.2477 237.915 450 260" stroke="white"/>
        </svg>
    </div>

    <div class="vector4">
        <svg xmlns="http://www.w3.org/2000/svg" width="1000px" height="800px" viewBox="5 17 575 494" fill="none">
            <path d="M0.999557 1C18 310 404 217 574 493" stroke="#B968C7"/>
          </svg>
    </div>
    <footer>
        <p>© 2024 CodeWiz.</p>
    </footer>
</main>