
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.5rem;
}.item-07-h7z {
  box-sizing: border-box;
  padding-right: 9.35rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background-color: #ffffff;

  .auto-group-nxx8-ENp {
    background-color: #fafafa;
    flex-shrink: 0;
    margin-right: 8.35rem;
    box-sizing: border-box;
    padding: 3.2rem;
    width: 40.1rem;
    height: 49.2rem;

    .use-text-styles-kc4 {
      display: flex;
      font-size: 2rem;
      letter-spacing: -0.034rem;
      white-space: nowrap;
      margin-bottom: 0.8rem;
      font-weight: 700;
      line-height: 1.6;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .auto-group-v4ha-Foi {
      margin-bottom: 2.4rem;
      width: 32.4rem;
      height: 3.2rem;
      position: relative;

      .icon-CU4 {
        width: 0.9rem;
        height: 0.9rem;
        position: absolute;
        left: 16.45rem;
        top: 0.35rem;
        object-fit: contain;
        vertical-align: top;
      }
      .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa {
        width: 32.4rem;
        height: 3.2rem;
        position: absolute;
        top: 0;
        font-size: 1.1rem;
        color: rgba(0, 0, 0, 0.8000000119);
        font-family: Inter, 'Source Sans Pro';
        left: 0;
        font-weight: 400;
        line-height: 1.4545454545;
        letter-spacing: 0.0055rem;

        .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-0 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.4545454545;
          letter-spacing: 0.0055rem;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
        }
        .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-1 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.4545454545;
          letter-spacing: 0.0055rem;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
        }
        .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-2 {
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.4545454545;
          letter-spacing: 0.0055rem;
          color: rgba(0, 0, 0, 0.8000000119);
          font-family: Inter, 'Source Sans Pro';
        }
        .select-a-text-layer-and-click-on-next-to-the-text-property-to-use-text-styles-Koa-sub-3 {
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.1rem;
          font-weight: 400;
          line-height: 1.4545454545;
          letter-spacing: 0.0055rem;
          color: rgba(0, 0, 0, 0.8000000119);
        }
      }
    }
    .item-07-xQc {
      height: 33.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 33.7rem;
    }
  }
  .auto-group-3bsc-Hxg {
    margin-top: 10.1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .give-me-a-text-style-EN8 {
      letter-spacing: 0.0055rem;
      color: #007be5;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.4545454545;
      white-space: nowrap;
      flex-shrink: 0;
      margin-bottom: 1.6rem;
      text-align: center;
      font-size: 1.1rem;
      font-weight: 700;
    }
    .arrow-vkk {
      width: 0;
      height: 3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
  }
}
