
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 68.5rem;
}.item-09-7FS {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  box-sizing: border-box;
  padding-right: 1.4rem;

  .auto-group-nvc8-emA {
    box-sizing: border-box;
    padding: 3.2rem;
    height: 49.2rem;
    align-items: center;
    flex-shrink: 0;
    margin-right: 1.8rem;
    width: 40.1rem;
    display: flex;
    flex-direction: column;
    background-color: #fafafa;

    .use-components-mat {
      line-height: 1.6;
      letter-spacing: -0.034rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      margin: 0rem 17.6rem 0.8rem 0rem;
      display: flex;
      font-size: 2rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .drag-and-drop-components-onto-your-canvas-from-the-assets-panel-if-youre-on-an-education-professional-or-organization-team-you-can-publish-them-for-team-members-to-use-across-their-own-files-TTi {
      margin: 0rem 1.2rem 2.4rem 0rem;
      letter-spacing: 0.0055rem;
      color: rgba(0, 0, 0, 0.8000000119);
      max-width: 32.5rem;
      font-size: 1.1rem;
      font-weight: 400;
      line-height: 1.4545454545;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .item-09-rVr {
      position: relative;
      background-size: 100% 105.333%;
      background-position: 0 0;
      background-image: url('REPLACE_IMAGE:c2916c4300cce17135af40345fa5d9b5e31070bd');
      flex-shrink: 0;
      width: 33.7rem;
      height: 30rem;
    }
  }
  .auto-group-vazg-w1W {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-bottom: 11rem;
    width: 25.2rem;
    align-items: center;

    .drag-the-correct-cursor-component-over-these-buttons-to-show-default-and-hover-states-fiC {
      color: #007be5;
      margin-bottom: 1.6rem;
      max-width: 25.2rem;
      text-align: center;
      letter-spacing: 0.0055rem;
      font-family: Inter, 'Source Sans Pro';
      flex-shrink: 0;
      font-size: 1.1rem;
      font-weight: 700;
      line-height: 1.4545454545;
    }
    .arrow-17-M5E {
      height: 3rem;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
      margin-bottom: 1.8rem;
      width: 0;
    }
    .auto-group-gjqu-62p {
      margin: 0rem 4rem 0rem 3.9rem;
      width: calc(100% - 7.9rem);
      height: 3.8rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;

      .auto-group-drb6-c1A {
        width: 6.8rem;
        height: 100%;
        font-weight: 500;
        line-height: 1.3333333333;
        justify-content: center;
        background-color: #56ccf2;
        flex-shrink: 0;
        margin-right: 4.4rem;
        align-items: center;
        font-size: 1.2rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        border-radius: 100rem;
        display: flex;
      }
      .auto-group-ld1e-sxg {
        white-space: nowrap;
        align-items: center;
        flex-shrink: 0;
        display: flex;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 6.1rem;
        line-height: 1.3333333333;
        background-color: #359dd9;
        font-size: 1.2rem;
        justify-content: center;
        height: 100%;
        font-weight: 500;
        border-radius: 100rem;
      }
    }
  }
}
