
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 70.5rem;
}.item-03-EFE {
  width: 100%;
  height: 52.2rem;
  position: relative;

  .background-Mqe {
    width: 68.5rem;
    height: 49.2rem;
    position: absolute;
    left: 0;
    top: 1.5rem;
    background-color: #ffffff;
  }
  .rectangle-19-UfN {
    width: 39.5rem;
    height: 49.2rem;
    position: absolute;
    left: 0;
    top: 1.5rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #b0b8db;
  }
  .vector-6-NEx {
    position: absolute;
    left: 0;
    top: 1.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 68.3rem;
    height: 49rem;
  }
  .vector-9-JeQ {
    vertical-align: top;
    width: 44.9rem;
    height: 25.9rem;
    position: absolute;
    left: 0;
    top: 1.5rem;
    object-fit: contain;
  }
  .vector-7-rR2 {
    height: 49.2rem;
    position: absolute;
    left: 0.5rem;
    top: 1.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 57.3rem;
  }
  .vector-10-o5N {
    top: 1.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 39.2rem;
    height: 49.1431rem;
    position: absolute;
    left: 0.5rem;
  }
  .practice-your-programming-skills-87e {
    height: 1.6rem;
    left: 0.5rem;
    font-weight: 400;
    white-space: nowrap;
    font-family: Fanwood Text, 'Source Sans Pro';
    width: 24.9rem;
    position: absolute;
    top: 7.55rem;
    display: flex;
    font-size: 2rem;
    line-height: 0.8;
    color: #322b5b;
  }
  .pngtreefashionable-colourful-fluid-gradual-geometric3864669-1-oja {
    left: 11.6rem;
    top: 0;
    object-fit: cover;
    vertical-align: top;
    width: 58.9rem;
    height: 52.2rem;
    position: absolute;
  }
  .group-5-KC8 {
    width: 20.4rem;
    height: 3.1rem;
    position: absolute;
    left: 31.5rem;
    top: 25.9rem;
    border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
    box-sizing: border-box;

    .auto-group-nshe-49i {
      width: 100%;
      height: 3rem;
      position: relative;
      border-right: solid 0.1rem rgba(0, 0, 0, 0.3000000119);
      box-sizing: border-box;

      .password-z3N {
        font-weight: 400;
        color: #322b5b;
        font-family: Exo, 'Source Sans Pro';
        position: absolute;
        left: 1rem;
        top: 0.7rem;
        font-size: 1.4rem;
        white-space: nowrap;
        width: 6.3rem;
        height: 1.6rem;
        display: flex;
        line-height: 1.1428571429;
      }
      .line-4-fQQ {
        height: 3rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 0.1rem;
      }
      .line-5-PrC {
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 20.4rem;
        height: 0.1rem;
      }
    }
  }
  .login-h6C {
    font-size: 2rem;
    position: absolute;
    justify-content: center;
    font-family: Fanwood Text, 'Source Sans Pro';
    font-weight: 400;
    white-space: nowrap;
    width: 4.5rem;
    height: 1.6rem;
    left: 39.3rem;
    top: 14.45rem;
    display: flex;
    align-items: center;
    line-height: 0.8;
    color: #322b5b;
  }
  .codewiz-Bn4 {
    position: absolute;
    top: 4.3rem;
    font-size: 4rem;
    font-weight: 400;
    font-family: Fanwood Text, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.7rem;
    height: 1.6rem;
    left: 3.4rem;
    display: flex;
    line-height: 0.4;
    color: #322b5b;
  }
  .group-4-hEc {
    box-sizing: border-box;
    width: 20.4rem;
    height: 3.1rem;
    position: absolute;
    left: 31.6rem;
    top: 20.2rem;
    border-bottom: solid 0.1rem rgba(0, 0, 0, 0.3000000119);

    .auto-group-lisx-EVS {
      box-sizing: border-box;
      width: 100%;
      height: 3rem;
      position: relative;
      border-right: solid 0.1rem rgba(0, 0, 0, 0.3000000119);

      .username-e-mail-adress-apC {
        line-height: 1.1428571429;
        font-family: Exo, 'Source Sans Pro';
        width: 16.1rem;
        position: absolute;
        left: 1rem;
        font-weight: 400;
        color: #322b5b;
        white-space: nowrap;
        height: 1.6rem;
        top: 0.7rem;
        display: flex;
        font-size: 1.4rem;
      }
      .line-4-TNC {
        width: 0.1rem;
        height: 3rem;
        position: absolute;
        left: 0.1rem;
        top: 0;
        background-color: rgba(0, 0, 0, 0.3000000119);
      }
      .line-5-Nzx {
        height: 0.1rem;
        position: absolute;
        left: 0;
        top: 0.1rem;
        background-color: rgba(0, 0, 0, 0.3000000119);
        width: 20.4rem;
      }
    }
  }
  .ellipse-27-swi {
    left: 9.9rem;
    top: 42.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.3rem;
    height: 3.1rem;
    position: absolute;
  }
  .ellipse-27-p6G {
    width: 2.4rem;
    height: 2.1rem;
    position: absolute;
    left: 2.2rem;
    top: 34.9rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ellipse-27-9uE {
    position: absolute;
    left: 1.9rem;
    top: 10.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.7rem;
    height: 2.3rem;
  }
  .ellipse-27-J1S {
    vertical-align: top;
    width: 2.7rem;
    height: 2.6rem;
    position: absolute;
    left: 19.8rem;
    top: 36rem;
    object-fit: contain;
  }
  .frame-8-EQt {
    overflow: hidden;
    display: flex;
    color: #ffffff;
    white-space: nowrap;
    position: absolute;
    left: 38.3rem;
    align-items: center;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    width: 6.5rem;
    font-size: 1.6rem;
    font-family: Fanwood Text, 'Source Sans Pro';
    justify-content: center;
    border-radius: 1.2rem;
    height: 3.6rem;
    font-weight: 400;
    line-height: 1;
    background-color: #cf6df5;
    top: 31.1rem;
  }
}
